.gameContainer {
  width:90%;
  height:90%;
  margin-left:5%;
  top:0;
  position:fixed;
  display:flex;
  flex-direction: column;
  align-items:center;
}

#unsubscribe {
  display:none;
  color:white;
  position:fixed;
  z-index:5;

}

#unsubscribe:hover {
  cursor:crosshair;
  color:black;
  z-index:5;
}

.endGameMSG {
  display:none;
}

.beginningGameMSG {
  display:none;
  margin-top:25%;
  opacity:1;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 2s;
}

 @keyframes fadeOut {
  from {
    opacity:1;

  }

  to {
    opacity:0;
  }
}

/*.box {
  margin-left:5%;
  position:fixed;
  border-style:solid;
  height:50px;
  width: 50px;
}
*/
