.exitIcon {
  position:relative;
  height:100px;
  margin-left:1em;
  width:100px;
}

.exitIcon:hover  {
  perspective: 200px;
  perspective-origin: 100% 180%;
}

.exitIcon:hover > #doorExit  {
  animation-name:doorOpening;
  animation-duration:0.5s;
  animation-fill-mode: forwards;
}

.exitIcon:hover > #doorExitBackground {
  animation-name:doorScalingBackground;
  animation-duration:0.5s;
  animation-fill-mode: forwards;
}

@keyframes doorOpening {
  from {
    transform: translate(0, 0) rotateY(0);
  }
  to {
    transform: translate(-25%, 0) rotateY(70deg);
  }
}

@keyframes doorScalingBackground {
  from {
   transform:scale(1);
  }
  to {
    transform:scale(1.3);
  }
}

#exitTxt {
  border-style:solid;
  border-color:black;
  padding:0.5em 1em;
  width:min-content;
  position:relative;
}

#doorExitBackground {
  background-color:black;
  height:150%;
  width:100%;
  position: absolute;
  top:5em;
}

#doorExit {
  background-color:grey;
  height:150%;
  width:100%;
  position: absolute;
  top:5em;
}
