body {
  overflow:hidden;
  position:relative;

}

.imgContainer {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;

}

.menuItem{
  position:absolute;
}

.interactive:hover {
  transform:scale(1.2);
}

#titleMenu {
 right:10%;
 top:0;
}

#unsubscribe {
  top:60%;
  right:13%;
  width:35%
}

#callingCenter {
  top:160%;
  right:14.5%;
  width:31%;
}

#TC {
  left:35%;
  top:12%;
}

#stairs {
  bottom:10%;
  left:35%;
  width:12%;
  z-index:2;
}

#form {
  width:25%;
  left:5%;
  top:0%;
}

#password {
  width:25%;
  top:20%;
  left:17%;
}

#counter {
  width:30%;
  bottom:0;
  left:5%;
}

