body {
  overflow:hidden;
  position:relative;

}

.imgContainer {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;

}

.menuItem{
  position:absolute;
/*  top:0;
  left:0;*/
}

#titleMenu {
 right:10%;
 top:0;
}

#titleMenu:hover{
  transform:scale(1.1);

}

#counter:hover {
  trsnform:scale(0.9);
  z-index:2;
}
