@font-face {
    font-family: 'silom';
    src: url('Fonts/SilomBold.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: silom;
}

.deskContainer {
  display:flex;
}

.counterDesk {
  border-style: solid;
  border-color: black;
  width:10em;
  height:5em;
  margin:1em;
  position:relative;
}

.clickTarget {
  position:absolute;
  right:1em;
  top:1em;
  background-color:red;
  border-radius: 50%;
  height:2em;
  width:2em;
}

.deskId {
  position:absolute;
  left:1em;
  top:1em;
}

.deskState {
  left:1em;
  top:2em;
  position:absolute;
}
