@font-face {
    font-family: 'silom';
    src: url('Fonts/SilomBold.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ds-digitalnormal';
    src: url('digi.woff2') format('woff2'),
         url('digi.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: silom;
  display:flex;
  background-color:none;
}

button {
  align-self:center;
  font-family : silom;
  font-size:3em;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.ui {
  margin-top:20%;
  display:flex;
  flex-direction: column;
  width:33%;
}
#playerID {
  align-self:center;
  font-size:2em;
}

#clickText {

}

.deskContainer {
  width:60%;
  display:flex;
  flex-wrap: wrap;
}

.counterDesk {
  width:10em;
  height:6.5em;
  margin:1em;
  position:relative;
  background-image: url(Assets/Graphics/deskBackground-02.png);
  background-size: contain;
}

.clickTarget {
  position:absolute;
  right:35%;
  bottom:13%;
  height:3em;
  width:3.5em;
  background-image: url(Assets/Graphics/deskEmployee-02.png);
  background-size: contain;
}


.deskState {
  left:1em;
  bottom:5%;
  position:absolute;
  background:white;
  padding:0 0.2em;
  border-radius:5px;
  font-size:0.7em;
}

.deskId {
  right:0;
  top:-1em;
  padding:0.5em 1em;
  position:absolute;
  background-color:black;
  color:white;
  letter-spacing: 3px;
  font-size:0.8;

}

.deskDoors {
  border-style:dotted;
}

.deskDoorLeft {
  position:absolute;
  left:0;
  top:0;
  height:95%;
  width:0;
}

.deskDoorRight {
  position:absolute;
  right:0;
  top:0;
  height:95%;
  width:0;
}



