@font-face {
    font-family: 'silom';
    src: url('Fonts/SilomBold.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;
}
body {
  font-family: silom;
  display:flex;
  background-color:none;
}


.levelTitle {
  font-size: 5em;
   text-decoration: none;
}

a:link {
  text-decoration: none;
  color: black;
  border:none;
  background-color:transparent;
  outline:none;
}

a:visited {
  text-decoration: none;
  color:black;
  border:none;
  background-color:transparent;
  outline:none;
}

a:hover {
  outline:none;
  font-size:6em;
}

a:active {
  text-decoration: none;
  border:none;
  background-color:transparent;
  outline:none;
}
