body {
  font-family: silom;
  display:flex;
  background-color:none;
}

.gameContainer {
  width:100vw;
  height:90vh;
  border-style: solid;
  display:flex;
  flex-direction: row;
}
.webpagesContainer {
  width:85%;
  height:85%;
  border-style: dotted;
}

.websiteDiv{
  border-style:solid;
  background-color: white;
  height:30%;
  width:45%;
}

.backgroundSite {
  display:flex;
  justify-content:center;
  flex-direction: column;
  background-color: red;
  height:92%;
  width:100%;
}
input {
  font-family: silom;
  font-size:1.2em;
  height:10%;
  padding:1em 0.5em;
  background-color: #EDEDED;
  border-radius:15px;
  margin-left:1em;
  width:50%;
  margin-bottom:1%;
}

.topBarSite {
  position:relative;
  background-color: #AAB0B5;
  width:100%;
  height:8%;
}
.topBarSquare {
  height:60%;
  background-color: #EDEDED;
  position : absolute;
  top:20%;
}

.crossIcon {
  left:1%;
  width:3%;
}

.minusIcon {
  left: 5%;
  width:3%;
}

.plusIcon {
  left:9%;
  width:3%;
}

.urlBar {
  left:15%;
  width:80%;
}

#taskSection {
  height:100%;
  width:20%;
  border-style:dotted;
  text-align:center;
}

#mailIcon {
  height:10%;
  width:20%;
  background-image: url(../Assets/Graphics/Level2/EmailIcon.png);
  background-repeat: no-repeat;
  background-size: contain;
  position:fixed;
  bottom:10%;
  left:35%;
}

.mailNotification {
  background-color:#C95431 ;
  margin-top:-2em;
  margin-left:-2em;
  height:70%;
  width:40%;
  border-radius:50%;
  border-style:solid;
}

.mailNotification p {
  text-align:center;
  font-size:2em;
  color:white;
}
