@font-face {
    font-family: 'silom';
    src: url('Fonts/SilomBold.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: silom;
  display:flex;
  background-color:none;
}

#playerGraphicsContainer {
  position:fixed;
  bottom:0;
  right:0;
  width:7.5vw;
  height:3.25vw;
  z-index:50;
  display:none;
}

#playerGraphics {
  align-self:bottom;
  display:flex;
  position:relative;
  height:50%;
  width:30%;
}

#timer {
  position:fixed;
  bottom:10vh;
  left:45vw;
  font-size:2em;
  display:none;
}

#playerID {
  position:fixed;
  bottom:5vh;
  left:35vw;
  font-size:2em;
}

.idCard {
  border-style:solid;
  padding:0.25em 0.5em;
}

.textEmployee {
  background-color:white;
  display:none;
  position:absolute;
  bottom:0;
  right:0;
  text-align:center;
  width:100%;
  font-size:0.8em;
  z-index:40;
  text-align:center;
  animation-duration: 0.5s;
  animation-name: employeeText;
}

#endGameMsg {
  position:fixed;
  padding:1em;
  width:80%;
  height:100%;
  top:0;
  font-size:5em;
  z-index:100;
  background-color:white;
  display:none;
}

.deskContainer {
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: start ;
  align-content:start;
  overflow:hidden;
  margin:0 5vw;
}

.counterDesk {
  width:17vw;
  height:8vw;
  position:relative;
  /*background-image: url(../Assets/Graphics/Level1/deskBackground.png);*/
  background-repeat: no-repeat;
  background-size: contain;
  /*background-position: 45%;*/
}


.clickTarget {
  position:absolute;
  right:45%;
  bottom:25%;
  height:5vw;
  width:6vw;
  z-index:-5;
  background-size: contain;
  cursor:crosshair;
}


.deskState {
  left:1em;
  bottom:0;
  position:absolute;
  background:white;
  padding:0 0.2em;
  border-radius:5px;
  font-size:0.8em;
  z-index:10;
}

.deskId {
  right:33%;
  top:0;
  padding:0 0.5em;
  position:absolute;
  background-image:url(../Assets/Graphics/Level1/burotopia_guichet_affichage.png);
  background-size:200% 200%;
  color:black;
  letter-spacing: 3px;
  font-size:1vw;
  animation-name: fadeIn;
  animation-duration:1s;

}

.deskDoors {
  background-color: white;
  opacity:40%;
  height:80%;
}

.deskDoorLeft {
  position:absolute;
  left:0;
  top:0;
  height:95%;
  width:0;
}

.deskDoorRight {
  position:absolute;
  right:0;
  top:0;
  height:95%;
  width:0;
}

.customer {
  position:absolute;
  bottom:0;
  right:30%;
  height:80%;
  width:40%;
  display:none;
  transform: scale(1.2);
  background-size: contain;
  animation-name:customerPopUp;
  animation-duration:0.5s;
}

.customerPopOut {
  animation-name: customerPopOut;
  animation-duration:0.5s;
}

@keyframes customerPopOut {
  from {
    bottom:0%;
  }

  to {
    bottom:-100%;
  }
}

@keyframes customerPopUp {
  from {
    bottom:-10%;
  }

  to {
    bottom:0;
  }
}

 @keyframes employeeText {
  from {
    opacity:0;
    bottom:-10%;

  }

  to {
    opacity:1;
    bottom:0;
  }
}

@keyframes fadeIn {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}
