@font-face {
    font-family: 'silom';
    src: url('Fonts/SilomBold.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: silom;
  display:flex;
  background-color:none;
}

button {
  margin-left:22%;
  font-family : silom;
  font-size:3em;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.ui {
  display:flex;
  flex-direction: column;
  width:30%;
}

.introLevel{
  position:fixed;
  top:25%;
  left:20%;
}

#startLevelGraphics {
  margin-left:15%;
}

#playerGraphicsContainer {
  position:fixed;
  bottom:0;
  right:0;
  width:50%;
  height:50%;
  z-index:50;
  display:none;
}

#playerGraphics {
  align-self:bottom;
  display:flex;
  position:relative;
  height:50%;
  width:30%;
}

#testProjectile {
  position:absolute;
  width:10%;
  height:8%;
  top:0;
  background-color:red;
  z-index:100;
  border-radius:50%;
  transition: left .5s cubic-bezier(.42,-0.3,.78,1.25),
      top .5s cubic-bezier(.42,-0.3,.78,1.25);
}

#formGraphics {
  position:absolute;
  top:0;
  left:0;
  opacity:1;
  height:100%;
  width:100%;
  background-image:url(../Assets/Graphics/Form.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hand {
  position:absolute;
  bottom:0;
  height:50%;
  width:100%;
}

#handLeft {
  left:-9em;
  background-image:url(../Assets/Graphics/handLeft.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#handRight {
  right:-8em;
  background-image:url(../Assets/Graphics/handRight.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#playerID {
  position:fixed;
  bottom:5vh;
  left:45vw;
  font-size:2em;
}

.textEmployee {
  background-color:white;
  display:none;
  position:absolute;
  bottom:0;
  right:0;
  text-align:center;
  width:100%;
  font-size:0.8em;
  z-index:40;
  text-align:center;
  animation-duration: 0.5s;
  animation-name: employeeText;
}

#endGameMsg {
  position:fixed;
  margin-left:40%;
  padding:1em;
  top:0;
  font-size:5em;
  z-index:100;
  background-color:white;
  display:none;
}

.deskContainer {
  width:100%;
  display:flex;
  flex-wrap: wrap;
  overflow:hidden;
}

.counterDesk {
  width:15em;
  height:6.5em;
  position:relative;
  background-image: url(../Assets/Graphics/deskBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: 45%;*/
}


.clickTarget {
  position:absolute;
  right:35%;
  bottom:0;
  height:4em;
  width:4.5em;
  background-size: contain;
  cursor:crosshair;
}


.deskState {
  left:1em;
  bottom:0;
  position:absolute;
  background:white;
  padding:0 0.2em;
  border-radius:5px;
  font-size:0.8em;
  z-index:10;
}

.deskId {
  right:33%;
  top:0;
  padding:0 0.5em;
  position:absolute;
  background-color:black;
  color:white;
  letter-spacing: 3px;
  font-size:0.8;
  animation-name: fadeIn;
  animation-duration:1s;

}

.deskDoors {
  background-color: white;
  opacity:40%;
  height:80%;
}

.deskDoorLeft {
  position:absolute;
  left:0;
  top:0;
  height:95%;
  width:0;
}

.deskDoorRight {
  position:absolute;
  right:0;
  top:0;
  height:95%;
  width:0;
}

.customer {
  position:absolute;
  bottom:0;
  right:30%;
  height:80%;
  width:40%;
  display:none;
  transform: scale(1.2);
  background-size: contain;
  animation-name:customerPopUp;
  animation-duration:0.5s;
}

.customerPopOut {
  animation-name: customerPopOut;
  animation-duration:0.5s;
}

@keyframes customerPopOut {
  from {
    bottom:0%;
  }

  to {
    bottom:-100%;
  }
}

@keyframes customerPopUp {
  from {
    bottom:-10%;
  }

  to {
    bottom:0;
  }
}

 @keyframes employeeText {
  from {
    opacity:0;
    bottom:-10%;

  }

  to {
    opacity:1;
    bottom:0;
  }
}

@keyframes fadeIn {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}
