@font-face {
    font-family: 'silom';
    src: url('Fonts/SilomBold.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: silom;
  display:flex;
}

#playerGraphicsContainer {
  position:fixed;
  bottom:0;
  right:0;
  width:7.5vw;
  height:3.25vw;
  z-index:50;
  display:block;
}

#playerGraphics {
  position:fixed;
  bottom:1vw;
  left:42vw;
  height:12vw;
  width:12vw;
  background-image:url(../Assets/Graphics/Level1/ticket.png);
  z-index:15;
  background-repeat:no-repeat;
  background-size:contain;
  display:block;
}

#timer {
  position:fixed;
  bottom:10vh;
  left:45vw;
  font-size:2em;
  display:none;
}

#playerID {
  position:fixed;
  bottom:6vh;
  left:45vw;
  font-size:0.9vw;
}

.idCard {
  /*border-style:solid;*/
  padding:0 0.5em;
}

.textEmployee {
  background-color:white;
  display:none;
  color:#212121;
  position:absolute;
  bottom:5%;
  right:0;
  text-align:center;
  width:100%;
  font-size:0.8vw;
  z-index:40;
  text-align:center;
  animation-duration: 0.3s;
  animation-name: employeeText;
}

#endGameMsg {
  position:fixed;
  padding:1em;
  width:80%;
  height:100%;
  top:0;
  font-size:5em;
  z-index:100;
  background-color:white;
  display:none;
}

.deskContainer {
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: start ;
  align-content:start;
  overflow:hidden;
  margin:3vw 5vw;
}

.counterDesk {
  width:12vw;
  height:8vw;
  position:relative;
  background-repeat: no-repeat;
  background-size: contain;
  overflow:hidden;
  background-image:url(../Assets/Graphics/Level1/greyBackground.png);
}



.employee {
  position:absolute;
  right:25%;
  top:15%;
  height:5vw;
  width:6vw;
  z-index:-5;
  background-size: contain;
}

.clickTarget {
  position:absolute;
  right:25%;
  top:15%;
  height:5vw;
  width:6vw;
  z-index:10;
  cursor:crosshair;
}


.deskState {
  left:1em;
  bottom:20%;
  position:absolute;
  background:white;
  padding:0 0.2em;
  border-radius:5px;
  font-size:0.5vw;
  z-index:10;
}

.deskId {
  left:35%;
  top:-5%;
  padding:0 0.5em;
  position:absolute;
  background-image:url(../Assets/Graphics/Level1/idBackground.png);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:20%;
  color:black;
  letter-spacing: 3px;
  font-size:0.7vw;
  animation-name: fadeIn;
  animation-duration:1s;

}

.deskDoors {
  background-image:url(../Assets/Graphics/Level1/doorBackground.png);
  background-size:cover;
  height:75%;
}

.deskDoorLeft {
  position:absolute;
  left:0;
  top:0;
  width:50%;
  transition:all 0.5s;
  transition-timing-function: ease-in;
}

.deskDoorRight {
  position:absolute;
  right:0;
  top:0;
  width:50%;
  transition:all 0.5s;
  transition-timing-function: ease-in;
}

.doorLeftOpen {
 left:-40%;
}

.doorLeftClosed {
  left:0;
}

.doorRightOpen {
 right:-40%;
}

.doorRightClosed {
  right:0;
}

.customer {
  position:absolute;
  bottom:0;
  right:30%;
  height:80%;
  width:40%;
  display:none;
  transform: scale(1.2);
  /*background-size: contain;*/
  border-style:dotted;
  border-color:blue;
  animation-name:customerPopUp;
  animation-duration:0.5s;

}

.customerPopOut {
  animation-name: customerPopOut;
  animation-duration:0.5s;
}

@keyframes customerPopOut {
  from {
    bottom:0%;
  }

  to {
    bottom:-100%;
  }
}

@keyframes customerPopUp {
  from {
    bottom:-10%;
  }

  to {
    bottom:0;
  }
}

 @keyframes employeeText {
  from {
    opacity:0;
    bottom:-10%;

  }

  to {
    opacity:1;
    bottom:0;
  }
}

@keyframes fadeIn {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}
