.slotMachine {
  display:none;
}

.slotMachineGraphics{
  position:fixed;
  width:51vw;
  height:22vw;
  left:30vw;
}

.slot {
  position:fixed;
  width:10vw;
  height:18vw;
  left:31vw;
  margin-top:1.5vw;
  display:flex;
  flex-flow:row wrap;
  justify-content:space-evenly;
  overflow:hidden;
}

.icon {
  padding-top:2vw;
}

#slot1 {
  left:31vw;
}

#slot2 {
  left:42vw;
}

#slot3 {
  left:53vw;
}

.btnStartMachine {
  position:fixed;
  height:7vw;
  width:7vw;
  border-style:solid;
  border-width:0.15vw;
  border-radius:50%;
  background-color: #DC6128;
  left:76vw;
  top:16vw;
  z-index:2;
}

.btnStartMachine:hover {
  transform: scale(1.2);
}
