.slotMachine {
  display:none;
}

.slotMachineGraphics{
  position:fixed;
  width:55vw;
  height:30vw;
  left:25vw;
}

.slot {
  position:fixed;
  width:9vw;
  height:18vw;
  left:31vw;
  margin-top:9vw;
  /*overflow:hidden;*/
  overflow-y:scroll;
}

.icon {
  padding-top:2vw;
  width:7vw;
  padding-left:1vw;
}

#slot1 {
  left:33.5vw;
}

#slot2 {
  left:45vw;
}

#slot3 {
  left:56vw;
}

.btnStartMachine {
  position:fixed;
  width:min-content;
  border-style:solid;
  border-width:0.15vw;
  z-index:2;
  bottom:25%;
  left:45%;
  font-size:4em;
  padding:0.2em 0.3em;
  border-radius:10px;
}

.btnStartMachine:hover {
  transform: scale(1.2);
}

.icon {
  border-style:solid;
  border-width:0.1vw;
  border-radius:10px;
}
