.formContainer {
  border-style : solid;
  border-color:black;
  width:25vw;
  height:40vw;
  position:relative;
}

.formItem {
  position:absolute;
  border-style : solid;
  border-color:black;
}

.picture {
  left:10%;
  top:10%;
  width:6vw;
  height:6vw;
}

.name {
  top:10%;
  right:10%;
  width: 12vw;
  height:2vw;
}

.lastName {
  top:20%;
  right:10%;
  width: 12vw;
  height:2vw;
}

.zip {
  position:absolute;
  right:10%;
  top:40%;
  width:12vw;
  height:2vw;

}

.zipBox {
  width:12%;
  height:2vw;
  background-color: white;
}

.address {
  top:30%;
  right:10%;
  width: 20vw;
  height:2vw;
}

.city {
  top:40%;
  width:6vw;
  height:2vw;
  left:10%;

}

.signature {
  bottom:10%;
  right:10%;
  width: 20vw;
  height:2vw;
}
