body {
  overflow:hidden;
}

.gameContainer {
  padding:5vw;
  overflow:hidden;
}

.pile {
  position:fixed;
  bottom:2.5vw;
  width:15vw;
  height:15vw;
  background-image:url(../Assets/Graphics/Level6/FormPile.png);
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
}

.formContainer {
  border-style : solid;
  border-color:#878787;
  width:25vw;
  height:40vw;
  position:fixed;
  bottom:5vw;
  left:35%;
  transition: all 2s;
/*  opacity:0;
  transform:scale(0.5);*/
  border-radius:5px;
  background-color:#ECECEC;

}

.begin {
  transform:scale(1);
  opacity:1;
}


.formItem {
  position:absolute;
  border-style : solid;
  border-color:black;
  background-color: #878787;
  border-radius:5px;
  border-width:0.1vw;
  border-color: white;
}

.formItem p {
  margin-top:-0.05em;
  color:white;
}

.sideItem {
  position:fixed;
  background-color:#ECECEC;
  border-style:solid;
  border-width:0.1vw;
  border-radius:5px;
}

.sideItem p:hover {
  cursor:pointer;
}

.sideItem p {
  margin-top:-0.05em;
  margin-left:0.2em;
}

.formItemCompleted{

}

.formCompleted {
  transform: perspective(1000px) rotateX(75deg) scale(0.45);
  border-width:0.5vw;
  bottom:-9vw;
  left:0.25vw;
}

.pictureAsset {
  background-image:url(../Assets/Graphics/Level1/employee3.png);
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
}

.picture {
  left:10%;
  top:10%;
  width:6vw;
  height:6vw;
}

.name {
  top:10%;
  right:10%;
  width: 12vw;
  height:2vw;
}

.lastName {
  top:20%;
  right:10%;
  width: 12vw;
  height:2vw;
}

.zip {
  position:absolute;
  right:10%;
  top:40%;
  width:12vw;
  height:2vw;

}

.zipBox {
  width:12%;
  height:2vw;
  background-color: white;
}

.address {
  top:30%;
  right:10%;
  width: 20vw;
  height:2vw;
}

.city {
  top:40%;
  width:6vw;
  height:2vw;
  left:10%;

}

.email {
  right:10%;
  width: 20vw;
  height:2vw;
  top:50%;
/*  font-size:2vw;*/
  display:flex;
  flex-direction: row;
}

.block {
  right:10%;
  width: 20vw;
  height:8vw;
  top:60%;

}


.signature {
  bottom:10%;
  right:10%;
  width: 20vw;
  height:2vw;
}

.signatureAsset {
   background-image:url(../Assets/Graphics/Level6/signature.png);
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
}
