body {
  overflow:hidden;
}

.gameContainer {
  padding:5vw;
  overflow:hidden;
}

.pile {
  position:fixed;
  bottom:2.5vw;
  width:15vw;
  height:15vw;
  background-image:url(../Assets/Graphics/Level6/FormPile.png);
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
}

.piledForm {

}

.formContainer {
  border-style : solid;
  border-color:black;
  border-width:0.3vw;
  width:25vw;
  height:40vw;
  position:relative;
  left:35%;
  transition:all 1s;
  transition-timing-function:ease-in-out;
  background-color:white;
}

.formItem {
  position:absolute;
  border-style : solid;
  border-color:black;
}

.sideItem {
  position:fixed;
  background-color:white;
  border-style:dotted;
}

.formItemCompleted{
  border-color:green;
}

.formCompleted {
  transform: perspective(1000px) rotateX(75deg) scale(0.45);
  border-width:0.6vw;
  position:fixed;
  bottom:-9vw;
  left:0;
}

.pictureAsset {
  background-image:url(../Assets/Graphics/Level5/Person_0.png);
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
}

.picture {
  left:10%;
  top:10%;
  width:6vw;
  height:6vw;
}

.name {
  top:10%;
  right:10%;
  width: 12vw;
  height:2vw;
}

.lastName {
  top:20%;
  right:10%;
  width: 12vw;
  height:2vw;
}

.zip {
  position:absolute;
  right:10%;
  top:40%;
  width:12vw;
  height:2vw;

}

.zipBox {
  width:12%;
  height:2vw;
  background-color: white;
}

.address {
  top:30%;
  right:10%;
  width: 20vw;
  height:2vw;
}

.city {
  top:40%;
  width:6vw;
  height:2vw;
  left:10%;

}

.email {
  right:10%;
  width: 20vw;
  height:2vw;
  top:50%;
/*  font-size:2vw;*/
  display:flex;
  flex-direction: row;
}

.block {
  right:10%;
  width: 20vw;
  height:8vw;
  top:60%;

}


.signature {
  bottom:10%;
  right:10%;
  width: 20vw;
  height:2vw;
}

.signatureAsset {
   background-image:url(../Assets/Graphics/Level6/signature.png);
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
}
