body {
  display : flex;
}

.gameContainer {
  display:none;
  padding:2em;
}

.conditionContainer {
  position:fixed;
  left:5%;
  background-color:grey;
  width:80%;
}
.conditionBlock {
  border:solid;
  padding:1em;
}

button {
  font-family : silom;
  font-size:3em;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width:min-content;
}
