body {
  display : flex;
}

.gameContainer {
  display:none;
  position:fixed;
  margin-left:10%;
  padding:2em;
  height:100%;
  width:80%;
}

.conditionContainer {
  position:fixed;
  left:0%;
  width:80%;
}
.conditionBlock {
  border:solid;
  padding:1em;
  position:fixed;
  top:0;
  left:0;
}

.check {
  width:2em;
  height:2em;
  border-style:solid;
  background-color:white;
}

button {
  font-family : silom;
  font-size:3em;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width:min-content;
}
