body {
}

.gameContainer {
  display:none;
  position:fixed;
  margin-left:10%;
  padding:2em;
  height:100%;
  width:80%;
}

.conditionContainer {
  position:fixed;
  left:0%;
  width:80%;
  cursor:pointer;
}


.conditionBlock {
  border:solid;
  padding:1em;
  position:fixed;
  top:0;
  left:0;
}

.conditionBlock p {
  -webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
  font-size:0.8vh;
}

.check {
  border-radius: 15%;
  width:1em;
  height:1em;
  border-style:solid;
  background-color:white;
  cursor:crosshair;
}
